<html>
  <head>
    <title>DYNAMIC-TITLE</title>
    <link href="main.css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Sinew</h1>
    
    <h2>Usage</h2>

    <table>
      <tr>
	<td>/list</td>
	<td>list all scenes</td>
      </tr>

      <tr>
	<td>/tag/<var>TAG-NAME</var></td>
	<td>search by tag</td>
      </tr>

      <tr>
	<td>/next-scene?watched=<var>WATCHED?</var></td>
	<td>choose the next scene with watched status</td>
      </tr>

      <tr>
	<td>/toggle-watched/<var>NAME</var></td>
	<td>toggle watched status on scene with plaintext name</td>
      </tr>
    </table>      
  </body>
</html>
